button(
  ref:button,
  on:click,
  {type},
  {disabled},
  class='{buttonClasses}'
)
  slot

script.
  import './mat-button.component.scss'

  import {addRipple} from 'helpers/material'

  export default {
    data() {
      return {
        type: 'button',
        nonRounded: false,
        disabled: false,
        buttonType: 'raised',
        className: ''
      }
    },

    computed: {
      buttonClasses: ({buttonType, nonRounded, className}) => {
        let classes = 'mdc-button'

        if (buttonType)
          classes += ` mdc-button--${buttonType}`

        if (!nonRounded)
          classes += ' mdc-button--rounded'

        if (className)
          classes += ` ${className}`

        return classes
      }
    },

    oncreate() {
      addRipple(this.refs.button)
    }
  }
