a {
  text-decoration: none;
  cursor: pointer;
  transition: color .2s ease-in-out;
  color: #0366d6;

  &:hover {
    text-decoration: underline;
  }

  &:hover, &:focus, &:active {
    outline: none;
  }

  &:visted {
    color: #0366d6;
  }
}
