h1 Lure's Blog

.flex
  .flex.flex-column.justify-between.mdc-card.mdc-card__primary-action(tabindex='0')
    .mdc-card__media.mdc-card__media--16-9(style='background-image: url(https://placeimg.com/200/300);')
    div.ph2
      small September 19th 2018
      h2 The Dangers of GenServers in Elixir
      h3.normal by <a href='https://mikakalthil.ca'>Mika Kalathil</a>

    p.ph2 Read and explore the potential dangers of using GenServers in Elixir. Let's take a deep dive into GenServers and discrover their limitations and strengths.

    .mdc-card__actions
      .mdc-card__action-buttons
        button.mdc-button.mdc-button--raised(type='button')
          a(href='/blog/elixir/dangers-of-genservers') Read

style.
  .mdc-card {
    width: 335px;
    height: 475px;
  }
