.slide-left.flex.justify-center.items-center
  div
    h3.navy.lh-solid.f-headline.width-copy {title}

    p.blue.lh-copy.f-subheadline.mt4.w-copy {paragraph}

  .w-40.ml4
    Icon(name='{icon}')

script.
  import {Icon} from 'components'

  export default {
    components: {Icon},

    data() {
      return {
        icon: '',
        title: '',
        paragraph: ''
      }
    }
  }

