.blog-view.pt4
  .tc
    +await('imageUrl')
      +then('imageSrc')
        img.mt3.h4.vh-75.w-100(src='{imageSrc}', alt='{imageAlt}')

    h1.f-headline.navy.f-headline.lh-solid.mv3 {title}
    small.f6.blue {humanizedDate} - By {author}

  article.f4.w-100.pb5.mt5.center.markdown-body {@html content}

  #disqus_thread

noscript Please enable JavaScript to view the comments
script.
  import './blog-view.component.scss'

  const getNavigatorLanguage = () => {
    if (navigator.languages && navigator.languages.length) {
      return navigator.languages[0];
    } else {
      return navigator.userLanguage || navigator.language || navigator.browserLanguage || 'en';
    }
  }

  const dateStringToHumanizedDate = (dateString) => {
    const date = new Date(dateString)

    return date.toLocaleDateString(getNavigatorLanguage(), {
      year: 'numeric', month: 'long', day: 'numeric'
    })
  }

  export default {
    data() {
      return {
        date: new Date(),
        author: '',
        title: '',
        content: '',
        imageUrl: Promise.resolve(),
        imageAlt: ''
      }
    },

    computed: {
      humanizedDate: ({date}) => dateStringToHumanizedDate(date)
    },

    oncreate() {
      var disqus_config = function () {
        this.page.url = location.url;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = location.pathname; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };

      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://lure-consulting.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
    }
  }
