section.pb3.h-page.flex.flex-column.justify-center.items.center
  h1.pt3.navy.f-headline.w-100.tc Contact Us

  .mt5
    ContactIconForm(title='')

script.
  import {ContactIconForm} from 'components'

  export default {
    components: {ContactIconForm}
  }
