Hero
Process
Implemenation
Building
AdvancedGrowth
Team

script.
  import {Hero, Process, Implemenation, AdvancedGrowth, Building, Team} from './components'

  export default {
    components: {Hero, Process, Implemenation, AdvancedGrowth, Building, Team}
  }
