Hero
Process
AlreadyStartedApplication
Implementation
Building
AdvancedGrowth
Team
Services
ContactIconForm

script.
  import {ContactIconForm} from 'components'

  import {
    Services, Contact,
    AlreadyStartedApplication,
    Hero, Process, Implementation,
    AdvancedGrowth, Building, Team
  } from './components'

  export default {
    components: {
      Services,
      Hero, Process,
      Building, Team,
      ContactIconForm,
      AlreadyStartedApplication,
      Implementation, AdvancedGrowth
    }
  }
