Hero
Process
Implementation
Building
AdvancedGrowth
Team
Services
ContactSlide

script.
  import {ContactSlide} from 'components'

  import {
    Services, Contact,
    Hero, Process, Implementation,
    AdvancedGrowth, Building, Team
  } from './components'

  export default {
    components: {
      Hero, Process,
      Building, Team,
      Services, ContactSlide,
      Implementation, AdvancedGrowth
    }
  }
