Hero
Process
Implementation
Building
AdvancedGrowth
Team
Services
Contact

script.
  import {
    Services, Contact,
    Hero, Process, Implementation,
    AdvancedGrowth, Building, Team
  } from './components'

  export default {
    components: {
      Hero, Process,
      Building, Team,
      Services, Contact,
      Implementation, AdvancedGrowth
    }
  }
