.flex.justify-center.items-center.ph4
  .w-100.w-33-ns
    ContactForm(title='{title}')

  .w-25.ml5.w-25.icon-size--m.dn.db-ns(class='{iconClass}')
    Icon(name='{iconName}')

script.
  import {Icon, ContactForm} from 'components'

  export default {
    components: {Icon, ContactForm},

    data() {
      return {
        iconClass: '',
        iconName: 'contact',
        title: 'Contact Us'
      }
    }
  }
