.flex.justify-center.items-center
  .w-33
    ContactForm(title='{title}')

  .ml5.w-25(class='{iconClass}')
    Icon(name='{iconName}')

script.
  import {Icon, ContactForm} from 'components'

  export default {
    components: {Icon, ContactForm},

    data() {
      return {
        iconClass: '',
        iconName: 'contact',
        title: 'Contact Us'
      }
    }
  }
