@import '~breakpoint-sass';
@import '~styles/utility';

main {
  min-height: calc(100vh - #{$footer-height} - #{$nav-bar-height - 5px});

  @include breakpoint($gt-xs) {
    min-height: calc(100vh - #{$footer-height});
    padding-top: $nav-bar-height;
  }
}
