div(ref:container, class='{containerClass}')
  input.mdc-text-field__input(
    ref:input,
    on:change,
    {type},
    {readonly},
    id='{fieldId}',
    name='{fieldName}',
  )
  label.mdc-floating-label(
    for='{fieldId}'
  ) {label}

  +if('shouldRemoveOutline')
    .mdc-line-ripple

    +else
      .mdc-notched-outline
        svg
          path.mdc-notched-outline__path

      .mdc-notched-outline__idle

script.
  import {MDCTextField} from '@material/textfield'

  import {labelToFieldId, labelToFieldName} from 'helpers/material'
  import {setAttribute} from 'helpers/dom'

  import {createContainerClass} from './mat-text-field.helpers'

  const setAttributeIfHas = (component, element, attributeName) => {
    const attributeValue = component.get()[attributeName]

    if (attributeValue)
      setAttribute(attributeName, attributeValue, element)
  }

  export default {
    data() {
      return {
        label: '',
        type: 'text',
        required: false,
        shouldRemoveOutline: false,
        name: '',
        isFullWidth: false,
        tabIndex: false,
        className: '',
        autocomplete: false,
        pattern: false,
        readonly: false
      }
    },

    computed: {
      fieldId: ({label}) => labelToFieldId(label),
      fieldName: ({name, label}) => name || labelToFieldName(label),
      containerClass: ({className, isFullWidth, shouldRemoveOutline}) =>
        createContainerClass(className, isFullWidth, shouldRemoveOutline)
    },

    oncreate() {
      const {container, input} = this.refs

      MDCTextField.attachTo(container)

      setAttributeIfHas(this, input, 'autocomplete')
      setAttributeIfHas(this, input, 'pattern')
      setAttributeIfHas(this, input, 'required')
      setAttributeIfHas(this, input, 'tabindex')
    }
  }
