section.pt3.pb5.flex.flex-column.justify-center.items-center.h-page
  h1.navy.f-headline.w-100.tc Free Quote

  ContactSlide

script.
  import {ContactSlide} from 'components'

  export default {
    components: {ContactSlide}
  }
