$lt-sm: max-width 599px;
$lt-md: max-width 959px;
$lt-lg: max-width 1279px;
$lt-xl: max-width 1919px;

$gt-xs: 600px;
$gt-sm: 960px;
$gt-md: 1280px;
$gt-lg: 1920px;

$xs: max-width ($gt-xs - 1px);
$sm: $gt-xs ($gt-sm - 1px);
$md: $gt-sm ($gt-md - 1px);
$lg: $gt-md ($gt-lg - 1px);

$breakpoint-not-small: 'screen and (min-width: #{$gt-xs})';
$breakpoint-medium: 'screen and (min-width: #{$gt-sm})';
$breakpoint-large: 'screen and (min-width: #{$gt-lg})';
