$base-font-size: 16px;
$font-size-headline: 2.25rem;
$font-size-subheadline: 1.75rem;
$font-size-1: 2.25rem;
$font-size-2: 1.75rem;
$line-height-solid: 38px;
$line-height-title: 49px;
$line-height-copy: 1.5;
