.flex
  div
    Icon(name='computer-analysis')

  div
    p We provide you with advanced data analytics so you can better understand your users needs.

    p Grow your business by viewing your customers’ trends!

button.mdc-button.mdc-button--raised(type='button')
  a(href='/quote') Get Free Quote

script.
  import {Icon} from 'components'

  export default {
    components: {Icon}
  }

