section.mt5.ph3.flex.flex-column.justify-center.vh-75-ns
  .flex.justify-center.items-center.flex-wrap.flex-nowrap-ns
    .w-34.w-20-l.icon-size--m
      Icon(name='computer-analysis')

    .width-copy.blue.lh-copy.f4.fw1.mt3.mt0-ns.ml4-ns
      p We provide you with advanced data analytics so you can better understand your users needs.
      p.mt2 Grow your business by viewing your customers’ trends!

  .flex.justify-center.mt4
    MatButton
      a.white(href='/quote') Get Free Quote

script.
  import {Icon, MatButton} from 'components'

  export default {
    components: {Icon, MatButton}
  }

