.pv5
  .flex.justify-center.items-center
    .w-40
      Icon(name='computer-analysis')

    .ml4
      p.blue.lh-copy.f3.width-copy.fw1 We provide you with advanced data analytics so you can better understand your users needs.

      p.blue.lh-copy.f3.width-copy.fw1 Grow your business by viewing your customers’ trends!

  .flex.justify-center.mt4
    button.mdc-button.mdc-button--raised(type='button')
      a(href='/quote') Get Free Quote

script.
  import {Icon} from 'components'

  export default {
    components: {Icon}
  }

