section.flex.justify-center.items-center.mv5
  div
    p.blue.lh-copy.f3.width-copy.fw1 Are you looking for something more specific or have already started your application? Looking for a minimum viable product to show investors? Contact us with questions!

  .w-34.ml4
    Icon(name='mvp-looking-for')

script.
  import {Icon} from 'components'

  export default {
    components: {Icon}
  }

