section.mt5.ph4.flex.justify-center.items-center.flex-column-reverse.flex-row-ns.vh-60.vh-75-ns
  .mt5.mt0-ns.width-copy
    p.blue.lh-copy.f4.fw1 Are you looking for something specific or have you already started your application? Looking for a minimum viable product to show investors? Contact us!

  .w-34.w-20-l.ml4-ns.icon-size--m
    Icon(name='mvp-looking-for')

script.
  import {Icon} from 'components'

  export default {
    components: {Icon}
  }

