section.mt5.ph4.flex.justify-center.items-center.vh-50-ns.flex-wrap-reverse.flex-nowrap-ns
  .mt3.mt0-ns.width-copy
    p.blue.lh-copy.f4.fw1 Are you looking for something more specific or have already started your application? Looking for a minimum viable product to show investors? Contact us with questions!

  .w-34.w-20-l.ml4-ns.icon-size--m
    Icon(name='mvp-looking-for')

script.
  import {Icon} from 'components'

  export default {
    components: {Icon}
  }

