section.vh-75.flex.justify-center.items-center.pv5
  div
    p.blue.lh-copy.f3.width-copy.fw1 We build your app and website so it can be available offline and work on all types of devices prompting mobile users to add your website to their home screen to increase user conversion. We also use SEO friendly code for better visibility on Google.

  .w-34.ml4
    Icon(name='building')

script.
  import {Icon} from 'components'

  export default {
    components: {Icon}
  }

