section.mt5.ph4.flex.justify-center.items-center.vh-60.vh-75-ns.flex-column-reverse.flex-row-ns
  .width-copy.mt5.mt0-ns
    p.blue.lh-copy.f4.fw1 We build your app and website so it can be available offline and work on all types of devices prompting mobile users to add your website to their home screen to increase user conversion. We also use SEO friendly code for better visibility on Google.

  .w-34.w-20-l.ml4-ns.icon-size--m
    Icon(name='building')

script.
  import {Icon} from 'components'

  export default {
    components: {Icon}
  }

