.flex
  div
    h1 Lure, helping you build the best Websites, Mobile, Web and Desktop Applications.
    h3 Level-Up with high performing and scaleable applications with Lure’s Strategy, Design, and Development!

    button.mdc-button.mdc-button--raised(type='button') Learn More

  div
    Icon(name='hero-app')


script.
  import {Icon} from 'components'

  export default {
    components: {Icon}
  }

