.flex.justify-center.ph3.vh-100
  .flex.flex-column.justify-center
    h1.navy.lh-solid.f-headline.width-copy Lure, helping you build the best Websites, Mobile, Web and Desktop Applications.
    h3.blue.lh-copy.f-subheadline.mt4.width-copy.fw1 Level-Up with high performing and scaleable applications with Lure’s Strategy, Design, and Development!

    .mt4
      button.mdc-button.mdc-button--raised(type='button') Learn More

  .w-40.pr5.flex.items-center.ml4
    Icon(name='hero-app')

script.
  import {Icon} from 'components'

  export default {
    components: {Icon}
  }

