section.hero-section.ph4.flex.justify-center.ph4.flex-wrap.flex-nowrap-ns.pt2
  .flex.flex-column.justify-center.w-40-ns
    h1.fw9.navy.lh-copy.lh-solid-ns.lh-title-m.lh-title-l.f3.f-headline-m.tc.tl-ns Lure helps you build the best websites, mobile, web and desktop applications.
    h3.blue.lh-copy.lh-solid-m.f4.f-subheadline-m.mt4.fw1.w-75-m.tc.tl-ns Level-up with high-performing and scaleable applications with Lure’s strategy, design, and development!

    .mt4.tc.tl-ns.dn.db-ns
      MatButton(on:click='scrollToProcess()', className='w-75 w-auto-ns')
        span Learn More

  .flex.items-center.icon-size--l.w-40-ns.ml4-ns.pr5-ns
    Icon(name='hero-app')

  .mt4.tc.tl-ns.dn-ns.w-100
    MatButton(on:click='scrollToProcess()', className='w-75 w-auto-ns')
      span Learn More

script.
  import './hero.component.scss'

  import {Icon, MatButton} from 'components'

  export default {
    components: {Icon, MatButton},

    methods: {
      scrollToProcess() {
        const processEle = document.getElementById('process-home')

        if (processEle)
          processEle.scrollIntoView({behavior: 'smooth'})
      }
    }
  }

