section.mt5.ph4.flex.justify-center.items-center.flex-column.flex-row-ns.vh-60.vh-75-ns
  .w-34.w-20-l.icon-size--m
    Icon(name='team')

  .width-copy.ml4-ns.mt5.mt0-ns
    p.blue.lh-copy.f4.fw1 Our team implements the latest industry standards in design and development with user validation, testing, and research to prevent big bug fixes, bottlenecks, and scalability issues.

script.
  import {Icon} from 'components'

  export default {
    components: {Icon}
  }

