.flex
  div
    Icon(name='team')

  div
    p Our team implements the latest industry standards in design and development with user validation, testing, and research to prevent big bug fixes, bottlenecks, and scalability issues.  

script.
  import {Icon} from 'components'

  export default {
    components: {Icon}
  }

