.flex.justify-center.items-center.pv5.mt5
  .w-40
    Icon(name='team')

  .ml4
    p.blue.lh-copy.f3.width-copy.fw1 Our team implements the latest industry standards in design and development with user validation, testing, and research to prevent big bug fixes, bottlenecks, and scalability issues.

script.
  import {Icon} from 'components'

  export default {
    components: {Icon}
  }

