section.mt5.ph4#process-home
  .w-100.flex.flex-column.justify-center.items-center
    h3.navy.fw9.lh-solid.f-headline The Lure Process
    span.blue.lh-copy.f3.fw1.mt2.tc This is how we build your app and website from scratch!

  .flex.justify-center.items-center.mt5
    ul.f3.blue.fw1.fw5-ns.tc.tr-ns
      li Ideation and research
      li.mr5-ns.mt4 Sketching and wireframing
      li.mr6-ns.mt4 User testing to design

      li.mr6-ns.mt4
        span.db Web development:
        span.db Front end and back end

      li.mr5-ns.mt4 Data analytics
      li.mt4 Scalability

    .w-34.w-20-l.icon-size--m.dn.db-ns
      Icon(name='process')

  .flex.justify-center.mt5.mt4-ns
    MatButton(linkUrl='process')
      span.white How Lure Works

script.
  import {Icon, MatButton} from 'components'

  export default {
    components: {Icon, MatButton}
  }
