section.mt5#process-home
  .w-100.flex.flex-column.justify-center.items-center
    h3.navy.fw9.lh-solid.f-headline The Lure Process
    span.blue.lh-copy.f3.fw1.mt2 This is how we build your app and website from scratch!

  .flex.justify-center.items-center.mt5
    ul.f3.blue.fw5
      li.tr Ideation and Research
      li.mt4.tr.mr5 Sketching and Wireframing
      li.mt4.tr.mr6 User Testing to Design

      li.mt4.tr.mr6
        span.db Web Development:
        span.db Front End and Back End

      li.mt4.tr.mr5 Data Analytics
      li.mt4.tr Scalability

    .w-34
      Icon(name='process')

  .flex.justify-center.mt4
    MatButton
      a.white(href='process') How Lure Works

script.
  import {Icon, MatButton} from 'components'

  export default {
    components: {Icon, MatButton}
  }
