h3 The Lure Process
span This is how we build your app and website from scratch!

.flex
  ul
    li Ideation and Research
    li Sketching and Wireframing
    li User Testing to Design
    li Web Development: Front End and Back End
    li Data Analytics
    li Scalability

  div
    Icon(name='process')

.flex.items-centered
  button.mdc-button.mdc-button--raised(type='button')
    a(href='how-it-works') How Lure Works

script.
  import {Icon} from 'components'

  export default {
    components: {Icon}
  }
