section.ph4.mt5
  .w-100.flex.flex-column.justify-center.items-center
    h3.f9.navy.lh-title.f-headline.width-copy.tc.tl-ns Our Services
    span.blue.lh-copy.f4.mt2.tc.fw1.w-40-ns Lure provides you with high-performing and scalable mobile apps, web apps, desktop apps, and websites

  .flex.justify-center.items-center.mt5.pb5
    .w-34.w-20-l.icon-size--sm.dn.db-ns
      Icon(name='services')

    .ml0.ml4-ns.self-end
      ul.f4.navy.mb4.fw5.tc.nl-ns
        li UX/UI design and research
        li.mt4.pt2 Web, mobile and desktop development
        li.mt4.pt2 Backend servers/devops software
        li.mt4.pt2 Prototyping, scaling and more...

      .tc.mt5
        MatButton(linkUrl='quote')
          span.white Get a Free Quote

script.
  import {Icon, MatButton} from 'components'

  export default {
    components: {Icon, MatButton}
  }
