section
  .w-100.flex.flex-column.justify-center.items-center
    h3.f9.navy.lh-title.f-headline.width-copy Services Lure Proivides
    span.blue.lh-copy.f4.mt2.w-40.tc.fw1 Lure provides you with high performing and scalable mobile apps, web apps, desktop apps, and websites!

  .flex.justify-center.items-center.mt5.pb5
    .w-34
      Icon(name='services')

    .ml4.self-end
      ul.f3.navy.mb4.fw5
        li UX/UI Design and Research
        li.mt4.pt2 Web, Mobile and Desktop Development
        li.mt4.pt2 Backend Servers/DevOps Software
        li.mt4.pt2 Prototyping, Scaling and More...

      MatButton
        a.white(href='quote') Get a Free Quote

script.
  import {Icon, MatButton} from 'components'

  export default {
    components: {Icon, MatButton}
  }
