h2 Services Lure Proivides

span Lure provides you with high performing and scalable mobile apps, web apps, desktop apps, and websites! 

.flex
  div
    Icon(name='services')

  div
    ul
      li UX/UI Design and Research
      li Web, Mobile and Desktop Development
      li Backend Servers/DevOps Software
      li Prototyping, Scaling and More...

    button.mdc-button.mdc-button--raised(type='button')
      a(href='quote') Get a Free Quote

script.
  import {Icon} from 'components'

  export default {
    components: {Icon}
  }
