@import '~breakpoint-sass';
@import '~styles/utility';

$width-all-team-members-fit: 1150px;

.tns-carousel {
  margin: 0 auto;
  padding-bottom: 5px;
}

.tns-item {
  &:focus, &:active {
    outline: none;
  }
}

@include breakpoint(1150px) {
  .tns-inner #last-entry.tns-item {
    padding-right: 0;
  }
}

.tns-outer {
  position: relative;
}

.tns-controls {
  &:active, &:focus {
    outline: none;
  }

  [data-controls='prev']:disabled + [data-controls='next'] {
    margin-left: auto;
  }

  button {
    position: absolute;
    height: 100%;
    border: 0;
    z-index: 10;
    width: 50px;
    max-width: 50px;

    @include breakpoint($gt-xs) {
      width: 8%;
    }
  }

  button:active, button:focus {
    outline: none;
  }

  button:disabled {
    display: none;
  }

  button svg {
    max-width: 30px;
    margin-left: auto;
  }

  [data-controls='next'] {
    background: linear-gradient(to right, transparent, white);
    right: 0;
    top: 0;
    bottom: 0;
  }

  [data-controls='prev'] {
    background: linear-gradient(to left, transparent, white);
    left: 0;
    top: 0;
    bottom: 0;
  }
}
