.br-20.team-member.mdc-card.flex.flex-column.justify-between
  +await('imageUrl')
    +then('backgroundImageUrl')
      .mdc-card__media.mdc-card__media--square(
        style='background-image: url({backgroundImageUrl});'
      )

      .ph2.pt2.mb-auto
        h2 {name}
        h3.normal {title}

        p.mt3 {description}

      .ph3.pv2
        a.mdc-card__action(ref:linkedinIcon, href='{linkedInUrl}')
          .w2.w1-ns
            Icon(name='linkedin')

style.
  .mdc-card {
    height: 365px;
    max-width: 215px;
  }

  .mdc-card__media--square {
    height: 215px;
    width: 215px;
  }

script.
  import {pipe, split, head, toLower} from 'ramda'
  import {MDCRipple} from '@material/ripple'

  import {Icon} from 'components'

  const getLoweredFirstName = pipe(split(' '), head, toLower)

  export default {
    components: {Icon},

    data() {
      return {
        name: '',
        title: '',
        description: '',
        linkedInUrl: '',
        _started: false
      }
    },

    onupdate(a) {
      if (!this._started && this.refs.linkedinIcon) {
        MDCRipple.attachTo(this.refs.linkedinIcon, {isUnbounded: true})

        this._started = true
      }
    },

    computed: {
      imageUrl: ({name}) => import(
        /*webpackChunkName: "[request]" */
        `assets/team-members-${getLoweredFirstName(name)}.jpg`
      )
        .then(({default: imageUrl}) => imageUrl)
    }
  }
