.flex.w-100.h6
  TeamMember(name='Mika Kalathil', title='CTEO', description='Mika is one of the founders of Lure. He also writes our blog and elegant code!', image='mika')
  TeamMember(name='Jerry Graham', title='Director Strategic Partnerships', description='Lorem Ipsum', image='mika')
  TeamMember(name='Michael Lenizky', title='UI/UX Designer', description='Lorem Ipsum', image='mika')
  TeamMember(name='Pilar Guinea Gil', title='UI/UX Designer', description='Lorem Ipsum', image='mika')
  TeamMember(name='Philip Klippenstein', title='Software Engineer', description='Lorem Ipsum', image='mika')

script.
  import TeamMember from './team-member.component.pug'

  export default { 
    components: {TeamMember}
  }
