@import '~breakpoint-sass';
@import '~styles/utility';

.slide-right,
.slide-left {
  min-height: 75vh;

  @include breakpoint($gt-lg) {
    min-height: 60vh;
    max-height: 800px;
  }
}

.slide-left, .slide-right:not(:first-of-type) {
  margin-top: $spacing-extra-large;
}
