footer.flex.justify-between.items-center.pa3.bg-light-blue.relative
  a.db.w4(href='/')
    Icon(name='lure-logo')

  small.ml5.f5.f7-ns &copy; Lure Consulting Inc 2018

  nav.dn.db-ns
    a.mr4.link.gray.hover-moon-gray(href='/quote') Free Quote
    a.mr4.link.gray.hover-moon-gray(href='/privacy-policy') Privacy Policy
    a.link.gray.hover-moon-gray(href='/terms-of-service') Terms of Service


script.
  import {Icon} from 'components/icon'

  export default {
    components: {Icon}
  }
