footer.flex.justify-between.items-center.pa3.bg-light-blue.relative
  a.db.w4(href='/')
    Icon(name='lure-logo')

  small.ml5.f7 &copy; Lure Consulting Inc 2018

  nav
    a.mr4.link.gray.hover-moon-gray(href='/blog') Blog
    a.mr4.link.gray.hover-moon-gray(href='/process') Process
    a.link.gray.hover-moon-gray(href='/quote') Free Quote


script.
  import {Icon} from 'components/icon'

  export default {
    components: {Icon}
  }
