header.nav-bar
  a.db.w4(href='/')
    Icon(name='lure-logo' class='test')

  nav
    a.mr4.link.gray.hover-moon-gray(href='/') Home
    a.mr4.link.gray.hover-moon-gray(href='/how-we-work') How we work
    a.mr4.link.gray.hover-moon-gray(href='/blog') Blog
    a.link.gray.hover-moon-gray(href='/contact') Contact

script.
  import './nav-bar.component.scss'

  import {Icon} from 'components/icon'

  export default {
    components: {Icon}
  }
