.relative.vh-75
  .form-container.pt5.w-34
    ContactForm(title='{title}')

  .w-40.absolute.bottom-0.right-0
    Icon(name='phone-put-together')

style.
  .form-container {
    margin-left: 10%;
  }

script.
  import {Icon, ContactForm} from 'components'

  export default {
    components: {Icon, ContactForm},

    data() {
      return {
        title: ''
      }
    }
  }
