.relative.vh-100
  .form-container.pt5.w-34
    ContactForm

  .w-50.absolute.bottom-0.right-0
    Icon(name='phone-put-together')

style.
  .form-container {
    margin-left: 10%;
  }

script.
  import {Icon, ContactForm} from 'components'

  export default {
    components: {Icon, ContactForm}
  }
