doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title= htmlWebpackPlugin.options.title
    base(href='/')

    - if (htmlWebpackPlugin.options.NODE_ENV === 'production')
      script.
        if ('serviceWorker' in navigator)
          navigator.serviceWorker.register('sw.js')


    meta(name='viewport' content='width=device-width, initial-scale=1')

    - if (htmlWebpackPlugin.options.NODE_ENV === 'production')
      - if (htmlWebpackPlugin.options.blogDescription)
        != require('!!apply-loader!pug-loader!./blog-metadata.pug')
      - else
        != require('!!apply-loader!pug-loader!./metadata.pug')

      // Google Analytics
      script(async src='https://www.googletagmanager.com/gtag/js?id=UA-127515836-1')
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-127515836-1');

      <!--[if (lt IE 9)]><script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.7/min/tiny-slider.helper.ie8.js"></script><![endif]-->

  body


