- const description = 'Lure consulting blah blah blaah'

meta(property='og:title' content='Not another agency')
meta(property='og:site_name' content='Lure Consulting')
meta(property='og:image' content='https://lure.is/assets/lure-icon.svg')
meta(property='og:description' content=description)
meta(property='og:url' content='https://lure.is')
meta(name='description' content=description)
meta(name='keywords' content='agency,consulting,web-development,development,engineering,web-design,design,ui/ux,functional programming,fp')

link(rel='apple-touch-icon', sizes='180x180', href='assets/favicon/apple-touch-icon.png')
link(rel='icon', type='image/png', sizes='32x32', href='assets/favicon/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='16x16', href='assets/favicon/favicon-16x16.png')
link(rel='mask-icon', href='assets/favicon/safari-pinned-tab.svg', color='#5bbad5')
link(rel='shortcut icon', href='assets/favicon/favicon.ico')
meta(name='msapplication-TileColor', content='#2b5797')
meta(name='msapplication-config', content='assets/favicon/browserconfig.xml')


//- script(type='application/ld+json').
//-   {
//-     "@context": "http://schema.org",
//-     "@type": "Company",
//-     "description": "Lure consulting blah blah blaah",
//-     "url": "https://lure.is",
//-     "name": "Lure Consulting",
//-     "location": {
//-       "@type": "City",
//-       "name": "Vancouver, B.C."
//-     }
//-   }

<!--[if (lt IE 9)]><script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.7/min/tiny-slider.helper.ie8.js"></script><![endif]-->
