- const description = 'Our network of vetted talent can help your startup with strategy, design, and development so you can preserve your equity for investors.'

meta(property='og:title' content='Take your startup to the next level')
meta(property='og:site_name' content='Lure Consulting')
meta(property='og:image' content='https://lure.is/assets/lure-logo.png')
meta(property='og:description' content=description)
meta(property='og:url' content='https://lure.is')
meta(property='og:type' content='website')
meta(name='description' content=description)
