.slide-left.flex.items-center.justify-around.center.ph4.w-75-ns.w-60-l.flex-wrap-reverse.flex-nowrap-l
  div
    h3.navy.lh-solid.f-headline.tc.tl-ns {title}

    p.f3.blue.lh-copy.w-copy.mt3.mt4-ns {paragraph}

  .icon-size--sm.w-80.w-40-ns.mt4.mt0-ns
    Icon(name='{icon}')

script.
  import {Icon} from 'components'

  export default {
    components: {Icon},

    data() {
      return {
        icon: '',
        title: '',
        paragraph: ''
      }
    }
  }

