.slide-left.flex.items-center.justify-around.w-75.center
  div
    h3.navy.lh-solid.f-headline {title}

    p.f3.blue.lh-copy.mt4.w-copy {paragraph}

  .w-40
    Icon(name='{icon}')

script.
  import {Icon} from 'components'

  export default {
    components: {Icon},

    data() {
      return {
        icon: '',
        title: '',
        paragraph: ''
      }
    }
  }

