.slide-right.flex.items-center.justify-around.center.ph4.w-100-ns.w-60-l.flex-wrap.flex-nowrap-l
  .w-80.w-40-ns.icon-size--sm
    Icon(name='{icon}')

  .pl2-ns.mt4.mt0-ns
    h3.navy.lh-solid.f3.tc.tl-ns {title}

    p.f4.blue.lh-copy.w-copy.mt3 {paragraph}

script.
  import {Icon} from 'components'

  export default {
    components: {Icon},

    data() {
      return {
        icon: '',
        title: '',
        paragraph: ''
      }
    }
  }

